*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(216, 213, 213);
}

.timer {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
  padding-top: 10rem;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.field:not(:last-child)::after {
  content: ':';
  position: absolute;
  top: 10%;
  right: -50%;
  font-size: 55px;
}

.field span:first-child {
  font-size: 90px;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
}
